# Bot tokeni @BotFather dan oling
BOT_TOKEN=8316073646:AAGR1FMdj35sB_HK50SgzZoFjHYenoj3cRM

# Admin Telegram ID lari (vergul bilan ajrating)
ADMIN_IDS=7317042332,1323742364

# PostgreSQL sozlamalari
DB_HOST=localhost
DB_PORT=5432
DB_NAME=konkurs_bot
DB_USER=postgres
DB_PASSWORD=yourpassword
